<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>db_driver</param-name>
        <param-value>org.postgresql.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>db_url</param-name>
        <param-value>jdbc:postgresql://</param-value>
    </context-param>
    <!-- Sets the initial size of the connection pool. -->
    <context-param>
        <param-name>db_pool_size</param-name>
        <param-value>1</param-value>
    </context-param>
    <context-param>
        <param-name>html</param-name>
        <param-value>/WEB-INF/html</param-value>
    </context-param>
    <context-param>
        <param-name>lyt</param-name>
        <param-value>/WEB-INF/jsp/layout</param-value>
    </context-param>
    <context-param>
        <param-name>cpnt</param-name>
        <param-value>/WEB-INF/jsp/component</param-value>
    </context-param>
    <context-param>
        <param-name>img</param-name>
        <param-value>/img</param-value>
    </context-param>
    <context-param>
        <param-name>home</param-name>
        <param-value>/</param-value>
    </context-param>
    <context-param>
        <param-name>writeup</param-name>
        <param-value>/writeup</param-value>
    </context-param>
    <context-param>
        <param-name>overthewire</param-name>
        <param-value>/writeup/overthewire</param-value>
    </context-param>
    <context-param>
        <param-name>bandit</param-name>
        <param-value>/writeup/overthewire/bandit/?level=</param-value>
    </context-param>
    <context-param>
        <param-name>natas</param-name>
        <param-value>/writeup/overthewire/natas/?level=</param-value>
    </context-param>
    <context-param>
        <param-name>leviathan</param-name>
        <param-value>/writeup/overthewire/leviathan</param-value>
    </context-param>
    <context-param>
        <param-name>vulnhub</param-name>
        <param-value>/writeup/vulnhub</param-value>
    </context-param>
    <context-param>
        <param-name>tool</param-name>
        <param-value>/tool</param-value>
    </context-param>
</web-app>
